<div *ngIf="defis == 0"class="center">
    <h1>Relève le défis</h1>
<h3>3 énigmes pour arriver au bout de ce défis</h3>
<h3>Y parviendras-tu ?</h3> <br>
<button mat-raised-button (click)="defis = 1">Commencer !</button>
</div>

<div *ngIf="defis == 1" class="display">
    <p>Le Premier défis est très simple, il consiste juste à appuyer sur le bouton "Hit me !"</p>
    <br>
            <button mat-raised-button  disabled (click)="defis = 2">Hit Me !</button>
    <br>
    <br>
    <button mat-raised-button (click)="onIndice()">Indice</button>
    <br>
    <br>
    {{indice}}
</div>

<div *ngIf="defis == 2"class="center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCigZ2iFxft35h8eF5svVeC9GSgczS642M6QxTQ9IjPiH9mQ/viewform?embedded=true" width="640" height="1034" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
        <br>
        <br>
        <button  mat-raised-button  (click)="defis = 3; resolutionDefis()">Continuer vers le prochian défis</button>
        <br>
        <br>
    </div>

<div *ngIf="defis == 3">
    <div class="center">
            <h4>Le jeu va commencer ... Regardez la séquence qui s'affiche et reproduisez la dans l'ordre en cliquant sur les couleurs associés ! 3 victoires sont nécessaires</h4>  
</div>
    
            <div class="gameContainer">  
    
                <div *ngIf='gameStarted' class="gameElement red" (click)="playerInputGame(1)"></div>
                <div *ngIf='gameStarted' class="gameElement green" (click)="playerInputGame(2)"></div>
                <div *ngIf='gameStarted' class="gameElement blue" (click)="playerInputGame(3)"></div>
                <div *ngIf='gameStarted' class="gameElement yellow" (click)="playerInputGame(4)"></div>
            </div>
            <div class="center">{{gameText}}</div>
</div>

<div *ngIf="defis == 4" class="center">
    <h1>Bravo ! Vous avez réussi le Défis.</h1>
    <h2>Merci pour votre participation</h2>
    <p>Ce défis vous a été proposé par:</p>
    <img src="../../assets/img/logo-cs.png" alt="" width="300px" height="150px">
</div>