.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center
}

.gameContainer {
    width : 90vh;
    height : 50vh;
    margin: auto;
    margin-top: 10vh;
}

.gameElement {
    width : 25%;
    height: 100%;
    display: inline-block;
    padding: -5px;
}

.red {
    background-color: rgba(255,0,0,0.6);
}
.red:hover {
    background-color: rgba(255,0,0,1);
}
.red:active {
    background-color: rgba(0,0,0,1);
}
.green {
    background-color: rgba(0,255,0,0.6);
}
.green:hover {
    background-color: rgba(0,255,0, 1);
}
.green:active {
    background-color: rgba(0,0,0,1);
}
.blue {
    background-color: rgba(0,0,255,0.6);
}
.blue:hover {
    background-color: rgba(0,0,255, 1);
}
.blue:active {
    background-color: rgba(0,0,0,1);
}
.yellow {
    background-color: rgba(255, 255, 0, 0.6);
}
.yellow:hover{
    background-color: rgba(255, 255, 0, 1);
}
.yellow:active {
    background-color: rgba(0,0,0,1);
}

.text {
    text-align: center;
    margin-top: 10px;
    font-size: 1.3em;
    border-radius: 4px;
}